// Global variables

@use "@/styles/unit.scss";

html {
    --color-white: #ffffff;

    --color-red-300: hsl(355, 76%, 61%);

    --color-green-100: hsl(158, 56%, 90%);
    --color-green-400: hsl(158, 56%, 46%);
    --color-green-500: hsl(158, 56%, 36%);

    --color-black-200: hsl(0, 0%, 83%);
    --color-black-300: hsl(0, 0%, 72%); // #B8B8B8
    --color-black-400: hsl(0, 0%, 62%);
    --color-black-600: hsl(0, 0%, 33%);

    --color-purple-600: hsl(264, 55%, 31%); // #46237A

    --color-primary: var(--color-green-400);
    --color-secondary: var(--color-green-100);
    --color-tertiary: var(--color-green-500);
    --color-neutral: var(--color-black-200);
    --color-text-primary: var(--color-black-600);
    --color-text-secondary: var(--color-white);
    --color-text-hint: var(--color-black-300);
    --color-danger: var(--color-red-300);

    --border-radius-sm: 0.375em; // 6px
    --border-radius-md: 0.75em; // 12px

    --header-height: #{unit.rem(94)};
    --header-z-index: 100;

    --a11y-outline: 3.5px solid #005fcc;

    --box-shadow-glow: #33b78640;

    $offsetX: 16;
    --container-offset-x: #{unit.rem($offsetX)};
    --container-width: #{unit.rem(1540 - $offsetX * 2)};
}
