@use "@/styles/unit.scss";

.wrapper {
    display: flex;
    gap: unit.rem(20);

    & > * {
        flex-grow: 1;
        flex-basis: 50%;
    }

    &.dirY {
        flex-direction: column;

        & > * {
            flex-basis: 100%;
        }
    }
}
