@use "@/styles/unit.scss";
@use "@/styles/device.scss";

.wrapper {
    background-color: var(--color-white);
    padding: unit.rem(56);
    border-radius: var(--border-radius-md);
    max-width: 100%;
    max-height: 100%;

    &.glow {
        box-shadow: 0px 0px 150px 25px var(--box-shadow-glow);
    }
}

.title {
    color: var(--color-primary);
    font-size: unit.rem(28);
    font-weight: 700;
    margin-bottom: unit.rem(30);

    @include device.mobile {
        font-size: unit.rem(22);
        margin-bottom: unit.rem(20);
    }
}
